		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title><%= meta.title %></title>
		<link rel="apple-touch-icon" href="<%= meta.url_base %>/img/icon.png">
		<link rel="shortcut icon" href="<%= meta.url_base %>/img/icon.png">
		<meta name="description" content="<%= meta.description %>">
		<link rel="canonical" href="<%= meta.url_base %><%= meta.url_path %>">
		<meta property="og:type" content="website">
		<meta property="og:title" content="<%= meta.title %>">
		<meta property="og:description" content="<%= meta.description %>">
		<meta property="og:url" content="<%= meta.url_base %><%= meta.url_path %>">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600,700|Lato:100,300">
		<link rel="stylesheet" href="<%= meta.url_base %>/css/bootstrap.min.css">
		<link rel="stylesheet" href="<%= meta.url_base %>/css/style.min.css">